        {% extends 'base.html'%}

         {% block content %}
            <div class="shadow card">
                <h1>Task to be completed</h1>
                <div class="card-body">

            <div class="shadow card">
                <div class="card-body">
                    <h5 class="card-title">{{i.name}}</h5>
                    <p><b>2</b>{{i.priority}}</p>
                    <p><b>2</b>{{i.date}}</p>
                    <a class="btn btn-danger" href="{% url 'delete' task.id %}">Done</a>
                    <a class="btn btn-success" href="{% url 'update' task.id %}">Update</a>


                </div>
            </div>
            <br>

            </div>
            </div>
        {% endblock %}